In [18]:
import pandas as pd
import numpy as np

In [19]:
school_data_to_load = "C:/UTDataCourse/Assignment 4/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "C:/UTDataCourse/Assignment 4/Instructions/PyCitySchools/Resources/students_complete.csv"

In [20]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [21]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [22]:
school_data_completed_df = school_data_complete
school_data_completed_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [23]:
total_school = len(school_data_completed_df["school_name"].unique())
total_student = len(school_data_completed_df["student_name"].sum())
total_budget = (school_data_completed_df["budget"].sum())
avg_math_score = (school_data_completed_df["math_score"].mean())
avg_reading_score = (school_data_completed_df["reading_score"].mean())
passing_math = (school_data_complete[school_data_complete['math_score']>=70]['student_name'].count()/total_student*100)
passing_reading = (school_data_complete[school_data_complete['reading_score']>=70]['student_name'].count()/total_student*100)
overall_passing_score = (avg_math_score + avg_reading_score)/2

In [34]:
summary_df = pd.DataFrame({
    "Total School":[total_school],
    "Total Student": total_student,
    "Total Budget": total_budget,
    "Average Math Score": avg_math_score,
    "% Passing Math": avg_math_score,
    "% Passing Reading": avg_reading_score,
    "% Overall Passing": [overall_passing_score]
})

summary_df

TypeError: 'dict' object is not callable

In [16]:
grouped_school = school_data_complete.groupby(['school_name'])
school_type = grouped_school['type'].first()
total_student = grouped_school.size()
total_budget = grouped_school['budget'].first()
budget_per_student = total_budget/total_student
average_math_score = grouped_school['math_score'].mean()
average_reading_score = grouped_school['reading_score'].mean()
grouped_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math = (grouped_passing_math/total_student)*100

grouped_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percent_passing_reading = (grouped_passing_reading/total_student)*100

percent_overall_passing = (percent_passing_math + percent_passing_reading)/2

In [17]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame=({
                                "School Type": school_type,
                                'Total Students':total_student,
                                'Total School Budget': total_budget,
                                'Per Student Budget': budget_per_student,
                                'Average Math Score': average_math_score,
                                'Average Reading Score': average_reading_score,
                                '% Passing Math': percent_passing_math,
                                '% Passing Reading': percent_passing_reading,
                                '% Overall Passing Rate': percent_overall_passing})
    
school_summary_df

{'School Type': school_name
 Bailey High School       District
 Cabrera High School       Charter
 Figueroa High School     District
 Ford High School         District
 Griffin High School       Charter
 Hernandez High School    District
 Holden High School        Charter
 Huang High School        District
 Johnson High School      District
 Pena High School          Charter
 Rodriguez High School    District
 Shelton High School       Charter
 Thomas High School        Charter
 Wilson High School        Charter
 Wright High School        Charter
 Name: type, dtype: object,
 'Total Students': school_name
 Bailey High School       4976
 Cabrera High School      1858
 Figueroa High School     2949
 Ford High School         2739
 Griffin High School      1468
 Hernandez High School    4635
 Holden High School        427
 Huang High School        2917
 Johnson High School      4761
 Pena High School          962
 Rodriguez High School    3999
 Shelton High School      1761
 Thomas High School       1635
 Wilson High School       2283
 Wright High School       1800
 dtype: int64,
 'Total School Budget': school_name
 Bailey High School       3124928
 Cabrera High School      1081356
 Figueroa High School     1884411
 Ford High School         1763916
 Griffin High School       917500
 Hernandez High School    3022020
 Holden High School        248087
 Huang High School        1910635
 Johnson High School      3094650
 Pena High School          585858
 Rodriguez High School    2547363
 Shelton High School      1056600
 Thomas High School       1043130
 Wilson High School       1319574
 Wright High School       1049400
 Name: budget, dtype: int64,
 'Per Student Budget': school_name
 Bailey High School       628.0
 Cabrera High School      582.0
 Figueroa High School     639.0
 Ford High School         644.0
 Griffin High School      625.0
 Hernandez High School    652.0
 Holden High School       581.0
 Huang High School        655.0
 Johnson High School      650.0
 Pena High School         609.0
 Rodriguez High School    637.0
 Shelton High School      600.0
 Thomas High School       638.0
 Wilson High School       578.0
 Wright High School       583.0
 dtype: float64,
 'Average Math Score': school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64,
 'Average Reading Score': school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64,
 '% Passing Math': school_name
 Bailey High School       66.680064
 Cabrera High School      94.133477
 Figueroa High School     65.988471
 Ford High School         68.309602
 Griffin High School      93.392371
 Hernandez High School    66.752967
 Holden High School       92.505855
 Huang High School        65.683922
 Johnson High School      66.057551
 Pena High School         94.594595
 Rodriguez High School    66.366592
 Shelton High School      93.867121
 Thomas High School       93.272171
 Wilson High School       93.867718
 Wright High School       93.333333
 dtype: float64,
 '% Passing Reading': school_name
 Bailey High School       81.933280
 Cabrera High School      97.039828
 Figueroa High School     80.739234
 Ford High School         79.299014
 Griffin High School      97.138965
 Hernandez High School    80.862999
 Holden High School       96.252927
 Huang High School        81.316421
 Johnson High School      81.222432
 Pena High School         95.945946
 Rodriguez High School    80.220055
 Shelton High School      95.854628
 Thomas High School       97.308869
 Wilson High School       96.539641
 Wright High School       96.611111
 dtype: float64,
 '% Overall Passing Rate': school_name
 Bailey High School       74.306672
 Cabrera High School      95.586652
 Figueroa High School     73.363852
 Ford High School         73.804308
 Griffin High School      95.265668
 Hernandez High School    73.807983
 Holden High School       94.379391
 Huang High School        73.500171
 Johnson High School      73.639992
 Pena High School         95.270270
 Rodriguez High School    73.293323
 Shelton High School      94.860875
 Thomas High School       95.290520
 Wilson High School       95.203679
 Wright High School       94.972222
 dtype: float64}

## Hightest-Performing School

In [35]:
top_performing_schools = displayed_school_summary.sort_values(by='% Overall Passing Rate',ascending=False)
top_performing_schools.head()

NameError: name 'displayed_school_summary' is not defined

## Lowest-Performing Schools

In [36]:
worst_performing_schools = displayed_school_summary.sort_values(by='% Overall Passing Rate')
worst_performing_schools.head()

NameError: name 'displayed_school_summary' is not defined

## Math Scores by Grade

In [37]:
school_avg_math_9th = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')['math_score'].mean()

school_avg_math_10th = school_data_complete[school_data_complete['grade']=='10th'].groupby('school_name')['math_score'].mean()

school_avg_math_11th = school_data_complete[school_data_complete['grade']=='11th'].groupby('school_name')['math_score'].mean()

school_avg_math_12th = school_data_complete[school_data_complete['grade']=='12th'].groupby('school_name')['math_score'].mean()


grade_math_score_df= pd.DataFrame({
                                  "9th":school_avg_math_9th,
                                  "10th":school_avg_math_10th,
                                  "11th":school_avg_math_11th,
                                  "12th":school_avg_math_12th})
grade_math_score_df.head(20)

TypeError: 'dict' object is not callable

In [38]:
# Calculate the average reading score for students of 9th grade at each school
avg_reading_9th = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')['reading_score'].mean()
# Calculate the average reading score for students of 10th grade at each school
avg_reading_10th = school_data_complete[school_data_complete['grade']=='10th'].groupby('school_name')['reading_score'].mean()
# Calculate the average reading score for students of 11th grade at each school
avg_reading_11th = school_data_complete[school_data_complete['grade']=='11th'].groupby('school_name')['reading_score'].mean()
# Calculate the average reading score for students of 12th grade at each school
avg_reading_12th = school_data_complete[school_data_complete['grade']=='12th'].groupby('school_name')['reading_score'].mean()

# Create a dataframe to hold the above results
grade_reading_score={
    '9th':avg_reading_9th,
    '10th':avg_reading_10th,
    '11th':avg_reading_11th,
    '12th':avg_reading_12th,
    }

reading_score_by_grade = pd.DataFrame(grade_reading_score)
reading_score_by_grade.index.name = None
reading_score_by_grade.head(20)

TypeError: 'dict' object is not callable

In [39]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [40]:
scores_spending = school_summary.loc[:,['Average Math Score',
                                       'Average Reading Score',
                                       '% Passing Math',
                                       '% Passing Reading',
                                       '% Overall Passing Rate',]]
scores_spending['Spending Ranges (Per Student)']= pd.cut(school_summary['Per Student Budget'],spending_bins,labels=group_names)
# Create a group based off of the bins
scores_spending = scores_spending.groupby('Spending Ranges (Per Student)').mean()
scores_spending.head()

NameError: name 'school_summary' is not defined

In [41]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [42]:
scores_size = school_summary.loc[:,['Average Math Score',
                                  'Average Reading Score',
                                  '% Passing Math',
                                  '% Passing Reading',
                                  '% Overall Passing Rate',]]

scores_size['School Size']= pd.cut(school_summary['Total Students'],size_bins,labels=group_names)

scores_size = scores_size.groupby('School Size').mean()
scores_size.head()

NameError: name 'school_summary' is not defined

In [43]:
scores_type = school_summary[['School Type',
                              'Average Math Score',
                              'Average Reading Score',
                              '% Passing Math',
                              '% Passing Reading','% Overall Passing Rate',]]

scores_type = scores_type.groupby('School Type').mean()
scores_type.head()

NameError: name 'school_summary' is not defined